{% extends 'master.html' %}

{% if liste %}
  {% block title %}
    List of programs
  {% endblock%}

  {% block content %}
    <div class="container">
      {% for cursus in liste %}
        <div class='row'>
          <div class='col-sm-2'>
            <a href='lycee/{{cursus.id}}'>{{cursus.name}}</a>
          </div>
          <a href="lycee/call_of_roll/call_roll">
            <button type="submit"> Call of roll</button>
          </a>
        </div>
       
      {% endfor %}
    </div>


        <div class"container">
         <div class ='row'>
          </div>
        </div>
        <div>
         <a href="lycee/student/create">
          <button class="button radius success right" type="submit">Create a student</button>
         </a>
       </div>

        <a href="/lycee/student/Presence/">
          <button type="submit"> Special Call of roll</button>
        </a>

   
      </div>
  {% endblock %}
{% else %}
  <p>No cursus to show</p>
{% endif %}