{% extends 'master.html' %}
{% load static %}

{% if liste %}
  {% block title %}
    List all student in the cursus
  {% endblock%}

  {% block content %}
    <div class="container">
      {% for student in liste %}
        <div class='row'>
          <div class='col-sm-2'>
            <a href='lycee/student/{{student.id}}'>{{student.first_name}} {{student.last_name}}</a>
          </div>
        </div>
    
      {% endfor %}
      <div class="container">
        <div class"container">
        <div class ='row'>
          </div>
        </div>
      </div>
  {% endblock %}
{% else %}
  <p>No student to show</p>
{% endif %}